.button{
    -fx-background-color:#ee9ae9;
    -fx-text-alignment: center;
}
.button:hover{

    -fx-background-color:#e581f0;
    -fx-text-alignment: center;
}
.resetButton{
    -fx-background-color: 
        #a0effb;
    -fx-background-radius: 10;
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-border-radius: 70%;
}
.resetButton:hover{
    -fx-background-color:#85d7da;
    -fx-text-alignment: center;
    -fx-border-radius: 100%;
}
.label{
    -fx-text-alignment: center;
    -fx-backgroundcolor: #d0f3d0
}
.border{
    -fx-backgroundcolor: #434343
}

