.button{
    -fx-background-color:#90EE90;
    -fx-text-alignment: center;
}
.button:hover{

    -fx-background-color:#64EE64;
    -fx-text-alignment: center;
}
.resetButton{
    -fx-background-color: 
        #d9dcd9;
    -fx-background-radius: 10;
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-border-radius: 70%;
}
.resetButton:hover{
    -fx-background-color:#adb0ad;
    -fx-text-alignment: center;
    -fx-border-radius: 100%;
}
.label{
    -fx-text-alignment: center;
    -fx-backgroundcolor: #d0f3d0
}
.border{
    -fx-backgroundcolor: #434343
}

